<!DOCTYPE html>
<html>
<head>
  <title>Кофе Фреш</title>

  <%= stylesheet_link_tag    'sessions', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
